.box{/*flexbox code from week 3 tutorial exercise*/
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  justify-content:space-around;
  margin: 0;

}

/*nav bar*/
.grid-col-item{
  flex: 1 1 15em;
}
