.image1{/*home*/
  background-image: url(../img/p1_1.png);
  background-size:100% ;
  display: fixed;
}

.image2{/*home*/
  background-image: url(../img/p2_6.png);
  background-size:100% ;
  display: fixed;
}

.image3{/*home*/
  background-image: url(../img/p3_1.png);
  background-size:100% ;
  display: fixed;
}

.image4{/*home*/
  background-image: url(../img/p4_1.png);
  background-size:100% ;
  display: fixed;
}
